
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;

}
/* home page styles  */

.header{
    background: rgba(255, 144, 14, 0.1);
    margin: 0;
    width: 100%;

    

}

.nav{
    display: flex;
    justify-content: space-between;
    margin:  0 10%;
    padding-top: 50px;
}

.title{
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    

}

.ul{
    display: flex;
   
}

.li{
    list-style: none;
    margin-left: 40px;
    margin-top: 15px;
    font-weight: 500;
    font-size: 18px;
    
    line-height: 26px;
    text-align: center;
    
    color: #424242;
}

.main-title{
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    margin-top: 102px;
}

.title-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 32px;
}
/* button styles */
.button{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
    background-color: rgb(255, 136, 0);
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 5px;


}

.title-header{
    text-align: center;
}

/* home page banner image styles */

.banner-img{
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: auto;
    
}

/* first section styles */

.section1{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    margin: 50px 18% ;

}

/* set grid in image and styles */
.team-img{
    
    
    display: grid;
    grid-template-columns:repeat(2,0fr) ;
    column-gap: 15px;
    row-gap: 15px;
    margin-right: 6%;
}

.image{
    height: 200px;
    border-radius: 10px;
}



.feature{
    font-weight: 700;
    font-size: 45px;
}

.inline1{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;

}

.inline2{
    color: #FF900E;
}

.feature-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 10px;
}

/* explore button styles */
   
.feature-button{
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    height: 50px;
    width: 150px;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 18px;

}

/* second section styles */
.feature-we-provide-title-div{
    margin-bottom: 25px;
}

.feature-we-provide-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    border-left: 2px solid  #FF900E;
    padding-left: 10px;
}
   
.feature-we-provide-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 10px;
}

.text-box-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}

.text-box{
    border: 1px solid white ;
    padding: 10px;
    padding-left: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin-top: 10px;
}

.architect-img{
    display: block;
    /* image right align  */
    float: right; 
    width:auto; 
    height: 80%;
    

}

.feature-we-provide-section-div{
    display: flex;
    justify-content:space-between ;
   

}

.feature-we-provide-section{
    margin: 0 10%;
    margin-top: 50px;
    
}

/* button styles which is over image  */

.year-button{
    
     margin-top: 725px; 
    

    margin-left: -630px;

    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 20px;

}

#year-button-p{
    font-weight: 500;
    font-size: 20px;
   

}

/* achievement section styles */

.achievement-section{
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;

}

.achievement-section-text{
    margin: 50px 10%;
}
    
.achievement-icon{
    border: 1px solid #FF900E;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin: 3%;
    padding: 20px;
    text-align: center;
}

.all-achievement-icon{
    display: flex;
    justify-content: center;

}

/* sponsor section styles */
.sponsor-section{
    margin-top: 70px;
}

.sponsor-section-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.sponsor-section-text{
    text-align: center;
}

.all-sponsor{
    display: flex;
    justify-content: space-evenly;

    margin: 50px 10%;
}
/* footer style  */
footer{
    text-align: center;
    background: #FFF4E7;
    height: 50px;
    border-radius: 8px;
    padding: 10px;
    margin: 100px 10%;
}

/* bonus section style  */

.bonus-section{
    margin: 70px 10%;
    border: 1px solid white;
    box-shadow:0px 4px 30px rgba(0, 0, 0, 0.06); 
}

.bonus-section-body{
    display: flex;
    justify-content: center;
}

.bonus-image{
    display: block;
    float: right;
    width: 60%;
}

/* add some animation for bonus mark  */
.image:hover{
    transform:scale(2)
    /* add zoom in the grid image */
}
/* button's color change when mouse cursor on it  */
.button:hover{
    background-color: rgb(255, 187, 0);
}

.feature-button:hover{
    background-color: rgb(255, 187, 0);
}
.year-button:hover{
    background-color: rgb(255, 187, 0);

}

@media screen and (max-width:576px) {
    .ul{
        flex-direction: column;
    }
    
}
